.nav-bar {
  display: flex;
  
  font-family: Proxima Nova, Arial, sans-serif;
  background-color: #fff;
  height: 60px;
  margin: 0;
  padding: 0 10px 0 0;
}

.invisible {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

.main-logo {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.session-buttons {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

