.nav-bar {
  display: flex;
  background-color: #fff;
  height: 60px;
  padding: 0 10px 0 0;
}

.invisible {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;
  font-weight: bold;
  color: #808080;
}

.session-buttons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}