.nav-bar {
  display: flex;
  font-family: Proxima Nova, Arial, sans-serif;
  background-color: #fff;
  height: 60px;
  margin: 0;
  padding: 0 10px 0 0;
}

.invisible {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

.main-logo {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.session-buttons {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid red
}

.user-dropdown {
  display: flex;
  flex: 1;
  align-items: flex-end;
  position: relative;
}

.user-dropdown-content {
  display: none;
  position: absolute;
  top: 50px;
  border: 1px solid blue;
  background: yellow
}

.session-buttons:hover .user-dropdown-content {
  display: block
}