.footer-container {
  position: fixed;
  bottom: 0;
  font-family: Metropolis-Regular;
  height: 90px;
  width: 100%;
  background: #428a13;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-footer-container {
  display: flex;
  align-items: center;
  padding-left: 100px;
  font-size: 20px;
  color: #fff
}

.bottom-header {
  font-weight: bold;
}

.right-footer-container {
  display: flex;
  align-items: center;
  padding-right: 100px;
  
  * {
    font-size: 30px;
    color: #fff;
    padding: 8px;
  }
}