@font-face {
  font-family: Metropolis-Regular;
  src: url("fonts/Metropolis-Regular.ttf") format("opentype");
}

.nav-bar {
  display: flex;
  font-family: Metropolis-Regular;
  background-color: #fff;
  height: 60px;
  margin: 0;
  padding: 0 10px 0 0;
  border-bottom: 1px solid #909090;
}

.invisible {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

.main-logo {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.session-buttons {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.user-dropdown {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.user-drop {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-dropdown-content {
  visibility: hidden;
  position: absolute;
}

.user-drop:hover .user-dropdown-content {
  visibility: visible;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  border: 1px solid #909090;
  border-radius: 4px;
  color: #909090;
  top: 45px;
  z-index: 999;
  padding: 10px 70px 10px 10px;
  background: white;
}

.main-logo * {
  text-decoration: none;
  font-size: 20px;
  color: #909090;
  font-weight: bold;
}

.session-buttons * {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  border-radius: 8px;
  padding: 10px 13px;
  border: 2px solid #219ad8;
}

.sign-up {
  background: #219ad8;
  color: #fff;
  margin-right: 8px;
}

.log-in {
  background: #fff;
  color: #219ad8;
}

.logo {
  color: #428a13;
  font-size: larger;
}