.park-container {
  display: flex;
  flex-direction: column;
  font-family: Metropolis-Regular;
  align-items: center;
}

.park-container > * {
  width: 1000px;
  max-width: 1000px;
}

.park-container > img {
  height: 250px;
  border-radius: 8px;
  padding-bottom: 24px;
}

.park-info {
  padding-bottom: 24px;
  border-bottom: 1px solid #E6E6E6;
}

.park-title {
  font-size: 32px;
  font-weight: 700;
  color: #414141;
  width: 80%;
  padding-bottom: 8px;
}

.park-description {
  font-size: 18px;
  color: #5a5a5a;
  width: 80%;
  padding-top: 12px;
  padding-bottom: 24px;
  line-height: 1.44;
}

.park-map {
  width: 80%;
  height: 250px;
  border-radius: 8px;
}

.park-minor-info {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #E6E6E6;
}

.park-minor-info > h1 {
  font-size: 22px;
  font-weight: 700;
  color: #414141;
  padding-bottom: 16px;
}

.park-minor-details {
  display: flex;
  width: 80%;
}

.acreage {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.acreage > h2 {
  font-size: 16px;
  font-weight: 700;
  color: #414141;
  padding-bottom: 7px;
}

.acreage > p {
  font-size: 16px;
  color: #5a5a5a;
}

.contact {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contact > h2 {
  font-size: 16px;
  font-weight: 700;
  color: #414141;
  padding-bottom: 7px;
}

.contact > p {
  font-size: 16px;
  color: #5a5a5a;
}

.park-trails-container {
  padding-top: 32px;
}

.park-trails-container > h2 {
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 700;
  color: #414141
}

.park-trails-list {
  display: flex;
  flex-direction: column;
}

.park-trail-item {
  display: flex;
  margin-bottom: 24px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 #5a5a5a;
  padding: 16px;
  text-decoration: none;
}

.park-trail-item > img {
  height: 100%;
  width: 280px;
  border-radius: 8px;
}

.park-trail-item-info {
  padding-top: 15px;
  padding-left: 24px;
  color: #414141
}

.park-trail-item-info > h2 {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 8px;
}

.park-trail-item-info > h4 {
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 6px;
}

.park-trail-stars-diff {
  display: flex;
  align-items: center;
}

.difficulty-buttons {
  color: white;
  width: 72px;
  height: 18px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.hard {
  background: #676767;
}

.moderate {
  background: #4bafe1;
}

.easy {
  background: #69a041;
}

.park-trail-length {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
  color: #767676
}

.park-trail-summary {
  margin-top: 24px;
  font-size: 16px;
  color: #5a5a5a;
  height: 48px;
  line-height: 1.5;
  overflow: hidden;
}