.search-bar-container {
  position: relative;
  z-index: 5;
  top: -36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-search1-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px;
  padding: 0 16px;
  width: 100%;
  max-width: 676px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 2px 24px 0;
}

.search-results-container {
  position: relative;
  z-index: 6;
  top: -60px;
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
}

