.search-bar-container {
  position: relative;
  z-index: 5;
  top: -36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-search1-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px;
  padding: 0 16px;
  width: 100%;
  max-width: 676px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 2px 24px 0;
}

.inner-search1-container > i {
  color: #909090;
  width: 16px;
  height: 16px;
}

.search-input {
  font-family: Metropolis-Regular;
  color: #414141;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.33;
  flex-grow: 1;
  margin: 0 16px;
  padding: 14px 0;
  border: none;
  outline: none;
}

.search-results-container {
  position: relative;
  z-index: 4;
  top: -72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-results-inner-container {
  padding: 36px 16px 0 16px;
  width: 100%;
  height: 250px;
  max-width: 676px;
  background: #fff;
  box-shadow: 0 2px 24px 0;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.search-result {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 72px;
  text-decoration: none;
  border-bottom: 1px solid #e6e6e6;
}

.search-result:hover {
  background: #f2f2f2;
}

.search-result > i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  fill: none;
  border-radius: 50%;
  background: #f2f2f2;
  color: #428a13;
}