.trail-container {
  display: flex;
  flex-direction: column;
  font-family: Metropolis-Regular;
  align-items: center;
}

.trail-container > * {
  width: 1000px;
  max-width: 1000px;
}

.trail-top-section {
  position: relative;
  height: 312px;
  width: 100%;
  border-right: 1px solid #909090;
  border-left: 1px solid #909090;
}

.trail-top-section > img {
  width: 100%;
  height: 100%;
}

.trail-top-header {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 32px;
  margin: 0 24px;
  z-index: 1;
  color: white;
}

.trail-top-header > h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 6px;
}

.trail-top-buttons {
  height: 55px;
  background: #428a13;
  border-right: 1px solid #909090;
  border-left: 1px solid #909090;
}

.trail-bottom {
  display: flex;
  border-right: 1px solid #909090;
  border-left: 1px solid #909090;
  border-bottom: 1px solid #909090
}

.trail-bottom-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-right: 1px solid #E6E6E6;
}

.trail-summary {
  color: #414141;
  font-size: 18px;
  line-height: 1.44;
  padding: 24px 0;
  margin: 0 24px; 
  border-bottom: 1px solid #E6E6E6;
  overflow: hidden;
  height: 100%;
}

.trail-other-info {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.trail-other-title {
  color: #5a5a5a;
  font-size: 12px;
  line-height: 1.42;
  width: auto;
}

.trail-other-item {
  color: #414141;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.38;
  width: auto;
}

// working on this
.trail-description-container {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px 0;
  // continue here
}



.trail-map {
  width: 350px;
  height: 240px;
  border-radius: 8px;
  margin: 24px;
}