.trail-container {
  display: flex;
  flex-direction: column;
  font-family: Metropolis-Regular;
  align-items: center;
}

.trail-container > * {
  width: 1000px;
  max-width: 1000px;
}



.trail-container > img {
  height: 312px;
  border-radius: 8px;
  padding-bottom: 24px;
}