.trail-reviews-container {
  margin: 32px 24px;
}

.trail-reviews-inner {
  padding-bottom: 16px;
  margin-bottom: 32px;
  border-bottom: 1px solid #e6e6e6;
}

.trail-reviews-inner > h3 {
  font-size: 16px;
  color: #414141;
  font-weight: 700;
}

.trail-review-stars-date {
  display: flex;
  align-items: center;
}

.trail-review-stars-date > p {
  font-size: 14px;
  color: #767676;
  padding: 8px;
}

.trail-review-description {
  font-size: 16px;
  margin-bottom: 16px;
  color: #414141;
}

.edit-delete-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.delete-button {
  font-size: 14px;
  color: #428a13;
  border: none;
  padding-right: 12px;
  background: none;
}

.edit-button {
  font-size: 14px;
  color: #428a13;
  border: none;
  padding-left: 12px;
  background: none;
  border-left: 1px solid;
}